*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}


.container {
  width: 100%;
  margin: auto;

}

h1, .emphasis {
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 14px;
}

h2 {
  font-size: 18px;
  font-family: serif;
  text-align: left;
  text-transform: capitalize;
}
.preview {
display: inline-block;
height: 200px;
margin: 5px;
width: 80%;
padding: 15px;
}

.baku {
  background-image: url(../images/baku.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.london {
  background-image: url(../images/london.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.madrid {
  background-image: url(../images/madrid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.rome {
  background-image: url(../images/rome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 575px) {
  .preview {
    margin: .5%;
    width: 48%;
  }
}

@media screen and (min-width: 991px) {
   .preview {
    margin: 1%;
    width: 22%;
  }
}
