*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}
.container {
  width: 200px;
  margin: auto;
}

.preview {
display: inline-block;
font-size: 24px;
height: 200px;
width: 100%;
background-size: cover;
background-position: left;
}

.baku {
  background-image: url(../images/baku.jpg);
}

.london {
  background-image: url(../images/london.png);
}

.madrid {
  background-image: url(../images/madrid.jpg);
}

.rome {
  background-image: url(../images/rome.jpg);
}

@media screen and (min-width: 575px) {
  .preview {
    margin: 1%;
    width: 48%;
  }
}
@media screen and (min-width: 991px) {
  .preview {
    margin: 1%;
    width: 22%;
  }
}
